.main-container {
  font-family: "OSTRICH-REGULAR";
  text-align: center;
  background-color: transparent;
  position: relative;
  top: -20px;
}

.heading {
  font-size: 80px;
  color: #333;
}

.text {
  text-align: center;
  font-family: serif;
  width: 70%;
  font-size: 20px;
  color: #666;
  margin: 0 auto;
  margin-top: -10px;
  background-color: transparent;
}
